@{
    Session.Remove("id");
    Session.Remove("userName");
    Session.Remove("password");
   
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
  @RenderPage("index.cshtml")
</body>
</html>
